* {
    padding: 0;
    margin: 0;
} 

body {
background: #fff;
font-family: Calibri, Arial, sans-serif;
font-size: 10pt;
padding: 0;
margin: 0;
color: #555;
line-height: 17px;
}

img { border: none; }
a { color: #336699; }
a:hover { text-decoration: none; color : #999; }
h3 { border-bottom: 1px dotted #aaa; color: #666; padding-bottom: 4px; margin: 14px 0 7px 0; font-weight: 100; font-size: 22px; letter-spacing: -1px;}
h3 a { text-decoration: none; font-size: 22px; letter-spacing: -1px; }
h3 a:hover { color: #999; }

#wrap {
width: 800px;
margin: 20px auto;
}

#header {
background: #fff url(/lap/context/images/blueblack/header.jpg) no-repeat;
font-family:"Calibri", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
height: 140px;
}
#header h1 {
color: #aaa;
font-size: 30px;
/*letter-spacing: -3px;*/
padding: 40px 0 0 30px;
text-align: left;
}
#header h1 a {
text-decoration: none;
}
#header h1 a:hover {
text-decoration: none;
color: #fff;
}
#header h2 {
font-size: 16px;
color: #aaa;
padding: 14px 10px 0px 30px;
text-align: left;
}

#menu {
background: #fff url(/lap/context/images/blueblack/menu.jpg) repeat-y;
height: 30px;
/*line-height: 30px;*/
padding-left: 15px;
}
/*
#menu li {
float:left;
list-style-type:none;
}
#menu li a {
display:block;
padding:0 10px;
text-decoration:none;
color: #111;
}
#menu li a:hover {
color:#111;
text-decoration:none;
background: #B1C3D7 url(/lap/context/images/blueblack/menuover.jpg) repeat-x;
}
*/

#content { 
padding: 0 20px;
background: #fff url(/lap/context/images/blueblack/content.jpg) repeat-y;
min-height: 500px;
}

#right {
padding: 10px 0;
width: 540px;
float: right;
font-size: 10pt;
text-align: justify;
}
#right  h3 { border-bottom: 1px dotted #aaa; }

#left {
padding: 20px 0;
width: 210px;
float: left;
}
#left h3 { height: 30px; line-height: 30px; font-size: 16px; border: none; padding: 0 0 0 10px; margin: 0; color: #111; }
#left ul { list-style-type: none; padding: 10px 0 20px 20px; }
#left ul li { padding: 2px 0 3px 0; }
#left ul li a { color: #336699; font-weight: 100; display: block; text-decoration: none; font-size: 12px;  }
#left ul li a:hover { color : #999; }

#footer {
font-size: 10px;
color: #fff;
text-align: center;
height: 50px;
line-height: 50px;
background: #fff url(/lap/context/images/blueblack/footer.jpg) no-repeat;
}
#footer a { 
color: #fff;
text-decoration: none;
}
#footer a:hover {
color: #fff; 
text-decoration: underline; 
}