/* form.css */
  
* {
  margin: 0px;
  padding: 0px;
}

form {
  padding: 0px;
  font-size: 100%;
  font-family: tahoma;
  font-size: 80%;
}

form fieldset {
  /*width: auto;*/
  font-size: 100%;
  padding: 0.5em 0.5em 0.5em 0.5em;
  margin: 0.5em 0.5em 0.5em 0.5em;
  border:1px solid;
  display: block;
}

form fieldset legend {
  color: #000000;
  padding: 0em 0.4em;
  font-weight: bold;
}

label {
  font-size: 100%;
  width: 8em;
  float: left;
  text-align: right;
  margin: 0 1em 0 0;
  clear: both
}

label u {
  font-style: normal;
  text-decoration: underline;
}

input, select, textarea {
  font-family: Tahoma, Arial, sans-serif;
  font-size: 100%;
  color: #000000;
  margin-bottom: 0.5em;
}

textarea {
  overflow: auto;
}

